body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background: #F4EFE6;
  color: #902727;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
  margin-top:20px;
}

h3 {
  font-size: 35px;
  margin-top: 16px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

ul { font-size: 22px;

}

h4 { 
  background-color: #902727;
  text-align: center;
  color: bisque;
  font-size: 30px;
  border-radius: 32px;

}


.card {
  background: #c7a66a;  
  padding: 280px;
  border-radius: 20px;
  margin-top: 24px;
  box-shadow: 0 7px 30px rgba(1, 0, 0, 0.25); 
}

.card2 {
  background: #eadfcb;   
  padding: 280px;
  border-radius: 20px;
  margin-top: 24px;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25); 
}

.card {
  background: #c7a66a;  /* card2 has its own background */
  padding: 280px;
  border-radius: 20px;
  margin-top: 24px;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth animation */
}

.card2{
  
    background: #eadfcb;  /* card2 has its own background */
  padding: 280px;
  border-radius: 20px;
  margin-top: 24px;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth animation */

}

/* Hover effect */
.card:hover, .card2:hover {
  transform: scale(1.05); /* slight size increase */
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.35); /* stronger shadow */
}

